@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
#head-name {
  -webkit-text-stroke: white 1px;
  text-shadow: 3px 5px 5px skyblue;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 0.25em;
}
